<h1>This is the home page!</h1>
<link href="https://bootswatch.com/cyborg/bootstrap.min.css" rel="stylesheet" >


<li class=""><a href="/register" class="btn btn-primary">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>
<p id="f"></p>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">

</script>
